<div class="h-100 bg-base-100 pb-5 my-5" data-aos="zoom-in-up" duration="50">
    <div class="container mx-auto w-[23.5rem] lg:w-full">
        <!--<h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>--->

        <div class="lg:flex justify-center lg:space-x-12 lg:space-y-0 space-y-5">
            <!-- left sidebar-->


            <div class=" rounded-lg overflow-hidden border w-full lg:w-12/12 md:w-12/12 bg-white mx-auto">
                <div class="w-full flex justify-between p-3">
                    <app-breadcrumb [clan]="clan.name" [user]="user.name" [clanImg]="clanImg"
                        [userImg]="userImg"></app-breadcrumb>
                    <div class="mx-1 tooltip tooltip-left" data-tip="Delete Post" *ngIf="isOwner">
                        <button (click)="deletePost()"><i
                                class="fa-solid fa-trash text-2xl text-error hover:animate-pulse select-none"></i></button>
                    </div>
                </div>

                <div class="px-3 pb-2">
                    <div class="pt-1 mb-2 text-sm w-xl">
                        <h1
                            class="mb-4 text-3xl font-extrabold leading-tight text-black lg:mb-6 lg:text-4xl text-center hover:underline cursor-pointer">
                            {{title}}</h1>
                        <figure class="mx-auto mb-6">
                            <img class="mx-auto rounded-lg" src="{{image}}" alt="postpic">
                        </figure>
                        <p class="text-gray-500 mx-6">{{content}}</p>

                    </div>
                    <div class="mb-2 mx-auto">
                        <hr class="mt-6 border-b-1 border-blueGray-300">
                        <div class="mb-2 text-sm">

                            <div id="accordion-flush" data-accordion="collapse"
                                data-active-classes="bg-white text-gray-900"
                                data-inactive-classes="text-gray-500 dark:text-gray-400">
                                <h2 id="accordion-flush-heading-1">
                                    <button type="button"
                                        class="flex items-center justify-center w-full py-5 font-medium text-left border-b border-gray-20 bg-white text-gray-900 dark:text-white"
                                        data-accordion-target="#accordion-flush-body-1" aria-expanded="true"
                                        aria-controls="accordion-flush-body-1">
                                        <i class="fa fa-arrow-down cursor-pointer mr-1 animate-bounce"></i>
                                        <span class="text-sm text-gray-400 font-medium">Comments</span>
                                    </button>
                                </h2>

                                <div id="accordion-flush-body-1" class="" aria-labelledby="accordion-flush-heading-1">
                                    <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
                                    <div class="w-20% px-3 mt-2 ">
                                        <form [formGroup]="addCommentForm">
                                            <input type="text" name="content"
                                                class="border-0 px-3 py-3 placeholder-purple-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                                placeholder="Comment on this post" formControlName="comment"
                                                (keyup.enter)="createComment()">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>