<app-navbar></app-navbar>
<app-profilebanner></app-profilebanner>
<div class="relative py-16 bg-base-100">
    <div class="container mx-auto px-4">
        <app-profile entity="clan"></app-profile>
        <div *ngFor="let index of [0,1,2,3]">
            <app-post title="Lorem ipsum dolor sit amet." content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, qui officia ad ullam, consequuntur culpa rem pariatur a deserunt nulla provident suscipit nemo sapiente dolorem! Quas adipisci, quibusdam neque deserunt totam blanditiis maxime voluptates tempora sunt excepturi eligendi corrupti. Accusantium delectus doloremque expedita quasi laudantium non voluptatibus, esse at inventore."></app-post>
        </div>
    </div>
</div>