<div class="mt-[0.2rem]">
    <button id="dropdownDividerButton" data-dropdown-toggle="dropdownDivider"
        class=" text-white bg-base-100 focus:outline-3 focus:outline-base-100 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center select-none"
        type="button">Menu <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg></button>
    <!-- Dropdown menu -->
    <div id="dropdownDivider" class="hidden z-10 w-24 bg-white rounded divide-y divide-base-100 shadow">
        <ul class="py-1 text-sm text-gray-700 " aria-labelledby="dropdownDividerButton">
            <li>
                <a routerLink="/user" class="block py-2 px-4 hover:bg-gray-100 ">Profile</a>
            </li>
            <li>
                <a class="block py-2 px-4 hover:bg-gray-100 select-none cursor-pointer"
                    data-modal-toggle="post-modal-create" (click)="updateModal()">New
                    Post</a>
            </li>
            <li>
                <a routerLink="/myclans" class="block py-2 px-4 hover:bg-gray-100 ">My
                    Clans</a>
            </li>
        </ul>
        <div class="py-1">
            <a class="block py-2 px-4  text-base hover:bg-error select-none cursor-pointer" (click)="logout()" >Logout</a>
        </div>
    </div>
</div>
<div id="post-modal-create" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed z-50 md:inset-0 h-modal md:h-50% hover:shadow-lg
focus:shadow-lg focus:outline-none focus:ring-0
active:shadow-lg
transition
duration-700
ease-in-out">
    <div class="relative flex flex-col min-w-0 break-words w-8/12 mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
        <div class="rounded-t bg-white mb-0 px-6 py-6">
            <div class="text-center flex justify-between">
                <h6 class="text-blueGray-700 text-xl font-bold">
                    New Post
                </h6>
                <h6 class="text-blueGray-700 text-xl font-bold">
                    <button data-modal-toggle="post-modal-create" class="text-base select-none"> <i
                            class="fa-solid fa-x"></i> </button>
                </h6>
            </div>
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0 ">
            <form [formGroup]="newPostForm" (submit)="newPost()">
                <div class="mx-auto text-center pt-4">
                    <button
                        class="bg-base-100 text-white active:bg-purple-500 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                        type="submit">
                        Post
                    </button>
                </div>
                <div class="flex flex-wrap">
                    <div class="w-full lg:w-12/12 px-4">
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlfor="grid-password">
                                Title
                            </label>
                            <textarea type="text"
                                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                rows="4" formControlName="title"></textarea>
                        </div>
                    </div>
                    <div class="w-full lg:w-12/12 px-4">
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlfor="grid-password">
                                Content
                            </label>
                            <textarea type="text"
                                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                rows="4" formControlName="content"></textarea>
                        </div>
                    </div>

                    <div class="w-full lg:w-12/12 px-4">
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlfor="grid-password">
                                Photo
                            </label>
                            <input type="file" class="form-control-file rounded-xl bg-base-100"
                                id="exampleFormControlFile1" name="communityimg" (change)="onImgChange($event)">
                        </div>
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlfor="grid-password">
                                Clan
                            </label>
                            <label for="underline_select" class="sr-only">Underline select</label>
                            <select id="underline_select" formControlName="clan"
                                class="select py-2.5 text-center px-0 w-full text-sm text-gray-500 bg-white border-1 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                                <option selected>Choose a Clan</option>
                                <option *ngFor="let clan of followingClans" value="{{clan.id}}">{{clan.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>