<div class="overflow-x-auto max-h-96 shadow-2xl" data-aos="fade-up">
    <table class="table w-full rounded-xl">
        <!-- head -->
        <thead>
            <tr class="">

                <th class="bg-gray-100  text-base-100">Title</th>
                <th class="bg-gray-100 text-base-100 text-end">Clan and Author</th>
            </tr>
        </thead>
        <tbody class="bg-primary">
            <!-- row 1 -->
            <tr>
                
                <td class="bg-primary border-0 text-base-100 font-extrabold cursor-pointer hover:underline">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </tr>
            <tr >
                
                <td class="bg-primary border-0 text-base-100 font-extrabold cursor-pointer hover:underline">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </tr>
            <tr >
                
                <td class="bg-primary border-0 text-base-100 font-extrabold cursor-pointer hover:underline">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </tr>
            <tr >
                
                <td class="bg-primary border-0 text-base-100 font-extrabold cursor-pointer hover:underline">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </tr>
            <tr >
                
                <td class="bg-primary border-0 text-base-100 font-extrabold cursor-pointer hover:underline">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </tr>
            <tr >
                
                <td class="bg-primary border-0 text-base-100 font-extrabold cursor-pointer hover:underline">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </tr>
            <tr >
                
                <td class="bg-primary border-0 text-base-100 font-extrabold cursor-pointer hover:underline">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </tr>
        </tbody>
    </table>
</div>