<app-navbar></app-navbar>
<div class="w-screen mb-28 flex lg:justify-end justify-center select-none">
    <ngx-typed-js class="text-7xl mt-24 typing mx-auto lg:ml-[42rem]" data-aos="fade-in-down"
        [strings]="['Searsh Results', 'Search Results']" [smartBackspace]="true" [typeSpeed]="100" [backSpeed]="40"
        [showCursor]="false" [backDelay]="1500">
        <h1 class="typing z-10 lg:text-end"> </h1>
        <h1 class="text-end z-10 -mt-[4.5rem] -mr-24"><i class="fa-solid fa-search"></i></h1>
    </ngx-typed-js>
</div>

<div class="content h-screen w-3/4 bg-base-100 flex mx-auto gap-4" role="main">
    <app-searchfilters></app-searchfilters>
    <div class="w-[64.5%]  rounded-xl">
        <app-searchtable></app-searchtable>
    </div>

</div>