<div class=" rounded-lg overflow-hidden w-10/12 lg:w-12/12 md:w-6/12 bg-base-100 mx-auto">
    <div class="mx-auto lg:w-100% mt-12"> <img class="mx-auto" data-aos="zoom-in-down" data-aos-delay="10"
            src="../../assets/logo-solo-white.png ">
        <div class="w-full flex justify-center p-3 mt-12" data-aos="fade-up" data-aos-delay="500">
            <div class="overflow-x-auto relative shadow-md rounded-lg sm:overflow-x-hidden">
                <table class="lg:w-96 text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6 text-left">
                                Clan
                            </th>

                            <th scope="col" class="py-3 pr-5 text-right">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let clan of clans">
                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <th scope="row"
                                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white text-left">
                                <a routerLink="/clan/{{clan.id}}"
                                    class="font-medium text-base-100 dark:text-blue-500 hover:underline">c/{{clan.name}}</a>
                            </th>
                            <td class="py-4 px-6 text-right">
                                <i class=" text-2xl fa fa-wrench mr-2 cursor-pointer" data-tooltip-target="tooltip-post"
                                data-modal-toggle="clanModal" *ngIf="clan.isAdmin" routerLink="/editclan/{{clan.id}}"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="flex flex-row mx-auto justify-center mt-5" data-aos="fade-right" data-aos-delay="900">
        <a href="/createclan">
            <button type="button"
                class="bg-base-300 text-white rounded-lg border-purple-900 py-2 hover:bg-purple-900 hover:text-white px-3">
                <div class="flex flex-row align-middle">
                    <p><i class="fa fa-plus mr-2"></i> New Clan</p>
                </div>
            </button>
        </a>
    </div>