<div class="overflow-x-auto max-h-96 shadow-2xl" data-aos="fade-up">
    <table class="table w-full rounded-xl">
        <!-- head -->
        <thead>
            <tr class="">

                <th class="bg-gray-100  text-base-100">Title</th>
                <th class="bg-gray-100 text-base-100 text-end">Clan and Author</th>
            </tr>
        </thead>
        <tbody class="bg-primary">
            <!-- row 1 -->
            <tr>
                
                <td class="bg-primary border-0 text-base-100 font-extrabold">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">in</span>
                    <div class="mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden ">
                        <img src="https://placeimg.com/33/33/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">c/clan</span>
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">by</span>
                    <div class=" mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden">
                        <img src="https://placeimg.com/50/50/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">u/user</span>
                </div>
            </tr>
            <tr >
                
                <td class="bg-primary border-0 text-base-100 font-extrabold">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">in</span>
                    <div class="mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden ">
                        <img src="https://placeimg.com/33/33/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">c/clan</span>
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">by</span>
                    <div class=" mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden">
                        <img src="https://placeimg.com/50/50/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">u/user</span>
                </div>
            </tr>
            <tr >
                
                <td class="bg-primary border-0 text-base-100 font-extrabold">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">in</span>
                    <div class="mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden ">
                        <img src="https://placeimg.com/33/33/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">c/clan</span>
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">by</span>
                    <div class=" mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden">
                        <img src="https://placeimg.com/50/50/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">u/user</span>
                </div>
            </tr>
            <tr >
                
                <td class="bg-primary border-0 text-base-100 font-extrabold">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">in</span>
                    <div class="mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden ">
                        <img src="https://placeimg.com/33/33/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">c/clan</span>
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">by</span>
                    <div class=" mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden">
                        <img src="https://placeimg.com/50/50/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">u/user</span>
                </div>
            </tr>
            <tr >
                
                <td class="bg-primary border-0 text-base-100 font-extrabold">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">in</span>
                    <div class="mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden ">
                        <img src="https://placeimg.com/33/33/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">c/clan</span>
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">by</span>
                    <div class=" mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden">
                        <img src="https://placeimg.com/50/50/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">u/user</span>
                </div>
            </tr>
            <tr >
                
                <td class="bg-primary border-0 text-base-100 font-extrabold">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">in</span>
                    <div class="mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden ">
                        <img src="https://placeimg.com/33/33/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">c/clan</span>
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">by</span>
                    <div class=" mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden">
                        <img src="https://placeimg.com/50/50/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">u/user</span>
                </div>
            </tr>
            <tr >
                
                <td class="bg-primary border-0 text-base-100 font-extrabold">Lorem ipsum dolor sit amet.</td>
                <div class="flex mt-2 justify-end mr-3">
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">in</span>
                    <div class="mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden ">
                        <img src="https://placeimg.com/33/33/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">c/clan</span>
                    <span class="pt-1 mx-1 font-bold text-sm text-base-400">by</span>
                    <div class=" mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden">
                        <img src="https://placeimg.com/50/50/arch" alt="profilepic">
                    </div>
                    <span class="pt-1 mr-1 font-bold text-sm text-base-100">u/user</span>
                </div>
            </tr>
        </tbody>
    </table>
</div>