<div class="flex">
    <span class="pt-1 mx-1 font-bold text-sm text-base-400">in</span>
    <div class="mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden">
        <img src="https://placeimg.com/33/33/arch" alt="profilepic">
    </div>
    <span class="pt-1 mr-1 font-bold text-sm text-base-300 hover:underline cursor-pointer">c/{{clan}}</span>
    <span class="pt-1 mx-1 font-bold text-sm text-base-400">by</span>
    <div class=" mx-1 rounded-full h-8 w-8 flex items-center justify-center overflow-hidden">
        <img src="https://placeimg.com/50/50/arch" alt="profilepic">
    </div>
    <span class="pt-1 mr-1 font-bold text-sm text-base-300 hover:underline cursor-pointer">u/{{user}}</span>
</div>